<div class="row m-2">
  <div class="col-2"></div>
  <div class="col-2">
    <mat-form-field appearance="fill">
      <mat-label>Dijagnoza</mat-label>
      <mat-select required [(ngModel)]="templateRuleParam.detection">
        <mat-option *ngFor="let detectionType of detectionTypes" [value]="detectionType.type">
          {{detectionType.type|detectionTypeToString}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-2">
    <mat-form-field appearance="fill">
      <mat-label>Sloj pitanja</mat-label>
      <mat-select required [(ngModel)]="templateRuleParam.layer">
        <mat-option value="FIRST">Prvi</mat-option>
        <mat-option value="SECOND">Drugi</mat-option>
        <mat-option value="THIRD">Treći</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="col-2">
    <mat-form-field class="example-full-width">
      <mat-label>Minimalni</mat-label>
      <input required matInput type="number" min="1" max="2015" step="1" maxlength="4" placeholder="Ex. 23"
             [(ngModel)]="this.templateRuleParam.min">
    </mat-form-field>
  </div>

  <div class="col-2">
    <mat-form-field class="example-full-width">
      <mat-label>Maksimalni</mat-label>
      <input required matInput type="number" min="1" max="2015" step="1" maxlength="4" placeholder="Ex. 31"
             [(ngModel)]="this.templateRuleParam.max">
    </mat-form-field>
  </div>
</div>

<div class="row m-2">
  <div class="col-2"></div>
  <div class="col-2">
    <mat-form-field appearance="fill">
      <mat-label>Nivo ozbiljnosti</mat-label>
      <mat-select required [(ngModel)]="templateRuleParam.intensity">
        <mat-option value="BLAGO">Blago</mat-option>
        <mat-option value="UMERENO">Umereno</mat-option>
        <mat-option value="IZRAZENO">Izraženo</mat-option>
        <mat-option value="TESKO">Teško</mat-option>
        <mat-option value="DUBOKO">Duboko</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="col-2" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Poruka</mat-label>
      <textarea matInput name="questionText" required formControlName="textFormControl" (ngModelChange)="check()"
                cols="600" rows="4" placeholder="Poruka"
      ></textarea>
<!--      <mat-error-->
<!--        *ngIf="formGroup.controls['textFormControll'].hasError('pattern') && !formGroup.controls['textFormControll'].hasError('required')">-->
<!--        Tekst se sastoji od slova i brojeva-->
<!--      </mat-error>-->
<!--      <mat-error *ngIf="formGroup.controls['textFormControll'].hasError('required')">-->
<!--        Tekst je <strong>obavezan</strong>-->
<!--      </mat-error>-->
    </mat-form-field>
  </div>


  <div class="col-2">
    <p>Da li je krajnji rezultat?</p>
    <mat-radio-group aria-label="Da li je krajnji rezultat?" [(ngModel)]="templateRuleParam.finalResult">
      <mat-radio-button value=true>Da</mat-radio-button>
      <mat-radio-button value=false>Ne</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
