<p>add-template works!</p>
<div class="row">

<!--  <div class="col-2">-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Unesi adresu</mat-label>-->
<!--      <input matInput [(ngModel)]="newRealEstate.address">-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <div class="col-2">-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Unesi min</mat-label>-->
<!--      <input matInput [(ngModel)]="min">-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <div class="col-2">-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Unesi max</mat-label>-->
<!--      <input matInput [(ngModel)]="max">-->
<!--    </mat-form-field>-->
<!--  </div>-->



</div>
