<div class="row">
  <div class="col-2">
  </div>
  <div class="col-2">
    <mat-form-field class="example-full-width">
      <mat-label>Početna godina rođenja</mat-label>
      <input matInput type="number" min="1900" max="2015" step="1" maxlength="4" placeholder="Ex. 1980"
             [(ngModel)]="this.reportParam.startYear">
    </mat-form-field>
  </div>

  <div class="col-2">
    <mat-form-field class="example-full-width">
      <mat-label>Krajnja godina rođenja</mat-label>
      <input matInput type="number" min="1900" max="2015" step="1" maxlength="4" placeholder="Ex. 1980"
             [(ngModel)]="this.reportParam.endYear">
    </mat-form-field>
  </div>

  <div class="col-2">
    <mat-form-field>
      <mat-label>Odaberite zanimanje</mat-label>
      <mat-select [(ngModel)]="this.reportParam.job" name="food">
        <mat-option *ngFor="let job of jobs" [value]="job">
          {{job}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-2">
    <mat-form-field>
      <mat-label>Odaberite pol</mat-label>
      <mat-select [(ngModel)]="this.reportParam.gender" name="food">
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{gender.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-2">
    <button mat-raised-button color="primary" (click)="getReport()">Prikaži</button>
  </div>
</div>
<div class="row">
  <div *ngFor="let report of this.report let i= index">
    <div class="row" style="margin: 2px;">
      <div class="col-3"></div>
      <div class="col-4">
        <p>{{i+1}}. {{report.detectionType|detectionTypeToString}}</p>
        <mat-divider></mat-divider>
      </div>
      <div class="col-2">
        <p>{{report.count}}</p>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
  <div *ngIf="report.length===0">
    <p>Nema rezultata za prikaz.</p>
  </div>

</div>
<p-toast position="top-right" key="vimm-report-job"></p-toast>
