<div class="row header">

  <div class="col-6">
    <a>
      <img class="logo" src="assets/mental-health.png" alt="Mentally" align="left"
           pTooltip="Home" tooltipPosition="bottom"/>
    </a>
    <h1> {{pageTitle}}</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <nav>
      <span>
          <a [routerLink]="['home']">
            <img class="img" src="assets/psychologist/report.png" alt="Izveštaji"
                 pTooltip="Izveštaji" tooltipPosition="left"/>
          </a>
      </span>
      <span>
          <a [routerLink]="['new/survey']">
            <img class="img" src="assets/psychologist/question.jpg" alt="Dodaj pitanja"
                 pTooltip="Dodaj pitanja" tooltipPosition="left"/>
          </a>
      </span>
      <span>
          <a [routerLink]="['template']">
            <img class="img" src="assets/psychologist/template.png" alt="Dodaj pravila"
                 pTooltip="Dodaj šablon" tooltipPosition="left"/>
          </a>
      </span>
<!--      <span>-->
<!--          <a [routerLink]="['define']">-->
<!--            <img class="img" src="assets/psychologist/add_rules.png" alt="Dodaj pravila"-->
<!--                 pTooltip="Dodaj pravila" tooltipPosition="left"/>-->
<!--          </a>-->
<!--      </span>-->
      <span>
          <a (click)="logout()">
            <img class="img" src="assets/logout.png" alt="Izlogujte se"
                 pTooltip="Izlogujte se" tooltipPosition="left"/>
          </a>
      </span>
    </nav>
  </div>
</div>
