.outer {
  height: 100vh;
  background: url("../../../../assets/bg5.jpg");
  background-size: cover;
  background-position: center;
}
.registration {
  padding-left: 10%;
  padding-right: 10%;
}

.elem {
  margin-top: 20px;
}


.register {
  padding: 20px;
}

.register-form {
  margin: 10px;
}

.subtitle {

}

mat-form-field {
  width: 300px;
}
