.mat-form-field {
  width: fit-content !important;
  min-width: 400px !important;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  width: 400px; /* Increase the width */

}

.mat-select {
  height: 48px; /* Increase the height */
  width: 400px; /* Increase the width */
}

.cdk-overlay-pane{
  width: 400px;
}


img {
  width: 30px;
  margin: 10px;
}

.msg {
  margin-top: 50px;
  margin-right: 60%;
  margin-left: 8%;
}

