<div class="divBorder">
  <div>
    <h2>{{emotionHistoryDto.detectionType|detectionTypeToString}} - {{emotionHistoryDto.intensity|intensityToString}}</h2>
  </div>
  <p-table [value]="answers" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Tekst</th>
        <th>Vrednost</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ans>
      <tr>
        <td>{{ans.text}}</td>
        <td>{{ans.score}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
